{erl_opts, [
    warnings_as_errors
]}.

{deps, []}.

{project_plugins, [
    {erlfmt, {git, "git@github.com:nomasystems/erlfmt.git", {tag, "v1.1.0"}}}
]}.
{erlfmt, [write]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer
    ]}
]}.

{cover_opts, [verbose]}.
{cover_enabled, true}.

{xref_ignores, [
    ndto
]}.
