{erl_opts, [
    {i, "include"},
    warnings_as_errors
]}.

{deps, [
    {ncalendar, {git, "git@github.com:nomasystems/ncalendar.git", {branch, "main"}}},
    {njson, {git, "git@github.com:nomasystems/njson.git", {branch, "main"}}}
]}.

{project_plugins, [
    {erlfmt, {git, "git@github.com:WhatsApp/erlfmt.git", {branch, "main"}}},
    {gradualizer, {git, "git@github.com:josefs/Gradualizer.git", {branch, "master"}}},
    rebar3_ex_doc
]}.
{erlfmt, [write]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [
            {nct_util, {git, "git@github.com:nomasystems/nct_util.git", {branch, "main"}}},
            {triq, {git, "git@github.com:nomasystems/triq.git", {branch, "master"}}}
        ]}
    ]}
]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer,
        gradualizer
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true"},
        cover
    ]},
    {doc, [
        {ex_doc, "-f html"}
    ]}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/nomasystems/ndto"}
]}.

{cover_opts, [verbose]}.
{cover_enabled, true}.

{xref_ignores, [
    ndto,
    {ndto_openapi, is_valid, 2},
    ndto_parser,
    ndto_schema
]}.

%% TODO: address this
{gradualizer_opts, [
    {exclude, [
        "src/ndto_generator.erl",
        "src/ndto_parser_json_schema_draft_04.erl",
        "src/ndto_schema.erl"
    ]}
]}.
