{erl_opts, [
    warnings_as_errors
]}.

{deps, [
    {ncalendar, {git, "git@github.com:nomasystems/ncalendar.git", {branch, "main"}}}
]}.

{project_plugins, [
    {erlfmt, {git, "git@github.com:nomasystems/erlfmt.git", {tag, "v1.1.0"}}}
]}.
{erlfmt, [write]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [
            {nct_util, {git, "git@github.com:nomasystems/nct_util.git", {tag, "1.0.0"}}},
            {triq, {git, "git@github.com:nomasystems/triq.git", {branch, "master"}}}
        ]}
    ]}
]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer
    ]},
    {test, [
        {ct, "--spec test/conf/test.spec --cover --readable true"}
    ]}
]}.

{cover_opts, [verbose]}.
{cover_enabled, true}.

{xref_ignores, [
    ndto,
    {ndto_openapi, is_valid, 2}
]}.
